* {
   
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
  }

  .container {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

  }

  header {
    grid-area: header;
    background-color: #33032f;
    padding:20px;

  }
  
  aside {
    grid-area: aside;
    background-color: #531253;
    padding: 10px;
  }
  
  main {
    grid-area: main;
    background-color: #A0ACAD;
    color: #33032f;
    padding: 10px;  

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
    gap:15px;

  }


  .links{
      grid-area: links;
      background-color: #a802a8;
      padding: 15px
  }    

  .imagens-col {
    display: flex;
    flex-direction: column;
    align-items: center;   
  }

  img {
      width: 80%;
      margin: 2%;
  }
  
  
  footer {
    grid-area: footer;
    background-color: #33032F;
    padding: 10px;  
  } 


@media(min-width:768px) {

  .imagens-col {
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: center;
    flex-wrap: wrap;   
  }

  img {
    width: 40%;
    margin:2%
  }

  p{ font-size: 20px;}


}

@media(min-width:1280px) {


  .container {

    width: 100%;
    height: 100vh;

      display: grid;  
      grid-template-columns: 15% 70% 15%;
      grid-template-rows: 50px 1fr 50px;
  
      grid-template-areas: 
      'header header header'
      'aside main links'
      'footer footer footer';     

  }  


  .imagens-col {
    display: flex;
    flex-direction: row;  
    justify-content: left;
    flex-wrap: wrap;   
  }

  img {
    width: 28%;
    margin:2%
  }

}















  /*





  
@media (min-width: 769px) {

    .container {

        display: grid;  
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 50px 1fr 50px;
    
        grid-template-areas: 
        'header header header'
        'aside main links'
        'footer footer footer';
       
    } 
    
    .imagens-col {
        display: flex;
        flex-direction: row;    
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    img {
        width: 40%;
        margin: 5px;
    }

}
  
@media (min-width: 1280px) {
  
    .imagens-col {
        display: flex;
        flex-direction: row;    
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    img {
        width: 30%;
        margin: 5px;
    }
  
}  */